* {
    margin: 0%;
    padding: 0%;
}

/* =========================== HEADER =========================== */
.header-class {
    width: 100%;
    height: 7vh;
    background: linear-gradient(90deg, rgb(4, 18, 53) 19%, rgb(6, 15, 61) 52%, rgb(7, 18, 44) 100%);
    display: flex;
}


/* ========== LOGO ========== */
.logo {
    background: url(_image/logoAthenas.png) left /220px no-repeat;
    flex: 3;
}
.logo h1 {
    padding: 2.5% 3%;
    display: inline-block;
    opacity: 0%;
}



/* ========== NAV ========== */
.header-class nav {
    flex: 5;
    text-align: end;
    padding: 1.2% 2.5%;
}
.header-class ul {
    list-style: none;
}

.header-class li {
    display: inline-block;
    padding-left: 2.5%;
}

.header-class a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}
.header-class a:hover {
    color: rgb(244, 222, 96);
}







/* =========================== SUB HEADER =========================== */
.sub-header {
    width: 100%;
    background-color: rgb(10, 31, 70);
    float: left;
}

/* ===== TEXT CONTAINER ===== */
.main-text-container {
    width: 30%;
    padding: 3% 12% 5%;
    float: left;
    margin-top: 2.2%;
}
.main-text-container h1 {
    font-size: 55px;
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
}
.main-text-container p {
    font-size: 18px;
    font-family: 'Raleway';
    margin-top: 5%;
    color: white;
    font-weight: 400;
    letter-spacing: 1.5px;
}


.main-text-container button {
    margin-top: 9%;
    padding: 15px 35px;
    border: none;
    border-radius: 25px;
    background-color: yellow;
    transition-duration: 0.5s;
    cursor: pointer;
}
.main-text-container button:hover {
    transform: translateY(5%);
    transition-duration: 0.5s;
    background-color: rgb(252, 252, 113);
}
.main-text-container a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* ===== IMAGE CONTAINER ===== */
.main-image-container {
    width: 45%;
    float: left;
    text-align: center;
}
.main-image-container img {
    width: 64.6%;
    transform: scaleX(-1);
    filter: invert(100%);
}















/* =========================== MAIN CLASS =========================== */
.benefits-class {
    width: 100%;
}

.title-benefits {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;

}
.title-benefits h2 {
    font-size: 33px;
    font-family: 'Raleway';
}





/* ===== CARD CONTAINER ===== */
.card-container {
    width: 85%;
    display: flex;
    margin: 0 auto;
}

.card {
    width: 20%;
    padding: 3% 1%;
    margin: 0 auto;
    margin-bottom: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition-duration: 1s;
}

.img-card {
    text-align: center;
}

.card img {
    width: 30%;
    margin-top: 5%;
}

.card h3 {
    font-size: 23px;
    text-align: center;
    margin-top: 5%;
    font-family: 'Lato';
}

.card p {
    text-align: center;
    margin-top: 5%;
    font-family: 'Lato';
}

.card:hover {
    transform: translateY(15%);
    transition-duration: 1s;
}













/* =========================== EXPLANATION CONTAINER =========================== */
.explanation-container {
    background: linear-gradient(90deg, rgb(4, 18, 53) 19%, rgb(6, 15, 61) 52%, rgb(7, 18, 44) 100%);
    width: 100%;
    float: left;
}

.explanation-background {
   width: 40%;
}
.explanation-background img {
    width: 100%;
    float: left;
    text-align: center;
}

.explanation-elements {
    width: 50%;
    float: right;
    margin-top: 7%;
}
.explanation-elements h2 {
    display: inline-block;
    font-size: 45px;
    color: white;
    font-family: 'Raleway';
}
.explanation-container p {
    width: 80%;
    font-size: 18px;
    color: white;
    font-family: 'Raleway';
    margin-top: 5%;
}
.explanation-container button {
    margin-top: 7%;
    padding: 12px 35px;
    border: none;
    border-radius: 25px;
    background-color: yellow;
    transition-duration: 0.5s;
    cursor: pointer;
}
.explanation-container button:hover {
    transform: translateY(5%);
    transition-duration: 0.5s;
    background-color: rgb(252, 252, 113);
}
.explanation-container a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 1.5px;
}














/* =========================== DIVISORIA =========================== */
.divisoria {
   background-color: rgb(255, 255, 255);
   width: 100%;
   height: 100vh;
}




























/* =========================== FOOTER =========================== */
.footer-class {
    background: linear-gradient(90deg, rgb(4, 18, 53) 19%, rgb(6, 15, 61) 52%, rgb(7, 18, 44) 100%);
    color: white;
    padding-bottom: 5% ;
}



.footer-logo {
    text-align: center;
}
.footer-logo img {
    width: 14%;
}





/* ======== FOOTER CONTENT ======== */
.footer-content {
    width: 70%;
    margin: 0% auto;
    border-top: 1px solid rgb(112, 112, 112);
    border-bottom: 1px solid rgb(112, 112, 112);
    display: flex;
    padding: 3.5%;
}

.athenadosAbout {
    flex: 1.2;
    padding: 0 2%;
}

.athenadosAbout h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
}

.athenadosAbout p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 1% 0%;
}

/* ======== ABOUT ======== */
.links {
    flex: 1;
    padding: 0 2%;
    margin-left: 5.5%;
}
.links ul {
    list-style: none;
}
.links h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
.links li {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.links a {
    color: white;
}


/* ======== DESENVOLVEDORES ======== */
.developments {
    flex: 0.5;
    padding: 0 2%;
    list-style: none;
}
.developments h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.developments ul {
    list-style: none;
}


.yuripeixinho {
    margin-top: 12%;
}

.yagopeixinho a, .yuripeixinho a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.yuripeixinho img, .yagopeixinho img {
    filter: invert(100%);
}



/* ======== DIREITOS AUTORAIS ======== */
.copyright {
    text-align: center;
    margin-top: 1.5%;
    font-weight: 200;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}











/* =========================== DISPOSITIVOS PEQUENOS =========================== */
/* MOBILE SMALL */
@media (min-width: 320px) and (max-width: 375px) {
    body {
        background-color: lightblue;
    }
}

/* MOBILE MEDIUM */
@media (min-width: 375px) and (max-width: 425px) {
    body {
        background-color: lightcoral;
    }
}

/* MOBILE LARGE */
@media (min-width: 425px) and (max-width: 768px) {
    body {
        background-color: rgb(128, 240, 128);
    }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-color: rgb(240, 214, 128);
    }
}

/* LAPTOP */
@media (min-width: 1024px) and (max-width: 1440px) {
    body {
        background-color: rgb(240, 128, 231);
    }
}

/* LAPTOP LARGE */
@media (min-width: 1440px) and (max-width: 2560px) {
    body {
        background-color: rgb(3, 3, 3);
    }
}

