* {
    margin: 0%;
    padding: 0%;
}

body {

}


/* =========================== HEADER =========================== */
.header-class {
    width: 100%;
    height: 7vh;
    background-color: rgb(7, 34, 75);
    display: flex;
}


.header-class h1 {
    flex: 1;
    margin-top: 0.5%;
    margin-left: 12%;
    color: white;
    font-family: 'Poppins';
    font-weight: 200;
}


/* ====== NAV ====== */
.header-class nav {
    flex: 2;
}
.header-class ul {
    list-style: none;
    margin-left: 30%;
    margin-top: 0.5%;
}
.header-class li {
    display: inline-block;
    margin-left: 3%;
    margin-top: 2.2%;
}
.header-class a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Poppins';
}


/* =========================== MAIN =========================== */
.main-class {
    width: 100%;
    height: 80vh;
}

.main-class img {
    width: 50%;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: rotateY(180deg);
}


.main-text-container {
    width: 50%;
    height: 20vh;
    position: absolute;
    top: 25%;
    left: 12%;
}
.main-text-container h1 {
    font-size: 70px;
}
.main-text-container p {
    width: 60%;
    margin-top: 2%;
    font-size: 20px;
}
.main-text-container button {
    margin-top: 3%;
    padding: 1%;
    border: none;
}
.main-text-container  a {
    text-decoration: none;
    font-size: 16px;
}

/* =========================== FOOTER =========================== */
