* {
    margin: 0%;
    padding: 0%;
}

body {

}


/* =========================== HEADER =========================== */
.header-class {
    width: 100%;
    height: 7vh;
    background-color: rgb(29, 46, 119);
    position: fixed;
    z-index: 99999;
    opacity: 90%;
}

/* ====== LOGO  ====== */
.logo-class {
    width: 64%;
    position: absolute;
    top: -40%;
    left: 10%;
}
/* ====== NAV ====== */
.header-class nav {
    position: relative;
    left: 82%;
}
.header-class ul {
    list-style: none;
    width: 30%;
    margin-top: 1.3%;
}
.header-class li {
    display: inline-block;
    margin-left: 1.8%;
}
.header-class a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}
.header-class a:hover {
    color: rgb(244, 222, 96);
}

/* ========== SUB-HEADER =========== */
.sub-header {
    width: 100%;
    height: 60vh;
    background-color: rgb(36, 64, 226);
}
.sub-header img {
    width: 32%;
    position: absolute;
    top: 5%;
    left: 64%;
    filter: invert(100%);
}

#athenas {
    left: 53%;
    width: 11%;
    top: 26%;
}

.main-text-container {
    width: 50%;
    height: 20vh;
    position: absolute;
    top: 13%;
    left: 12%;
}

.main-text-container h1 {
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    animation-name: background-h1;
    animation-duration: 1.5s;
    position: relative;
}
@keyframes background-h1 {
    from {
        right: 20%;
        opacity: 0%;
    }

    to {
        right: 0%;
    }
}

.main-text-container p {
    width: 70%;
    margin-top: 2%;
    font-size: 20px;
    color: white;
    font-family: 'Poppins';
    animation-name: background-p;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    position: relative;
    opacity: 0%;
}
@keyframes background-p {
    from {
        right: 20%;
        opacity: 0%;
    }

    to {
        right: 0%;
        opacity: 100%;
    }
}

.main-text-container button {
    width: 19%;
    height: 6vh;
    margin-top: 3%;
    padding: 1.5%;
    border: none;
    border-radius: 30px;
    background-color: rgb(245, 210, 52);
    cursor: pointer;
    transition-duration: 0.5s;
    animation-name: background-button;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    position: relative;
    opacity: 0%;
}
.main-text-container button:hover {
    transition-duration: 0.5s;
    transform: translateY(4%);
    background-color: rgb(238, 235, 71);
}
@keyframes background-button {
    from {
        right: 20%;
        opacity: 0%;
    }

    to {
        right: 0%;
        opacity: 100%;
    }
}


.main-text-container a {
    text-decoration: none;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: 1.5px;
}

























/* =========================== MAIN =========================== */
.main-class {
    width: 100%;
}


/* ========== SERVICES =========== */
.benefits-class {
    width: 100%;
    height: 78vh;
}

.benefits-class h1 {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 15%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.card-container {
    width: 90%;
    margin: 10% auto;
    display: flex;
}

.card {
    width: 20%;
    height: 38vh;
    margin-left: 4%;
    border-radius: 15px;
    box-shadow: 0px 4px 16px rgba(148, 148, 148, 0.993);
    overflow: hidden;
    transition-duration: 1s;
}
.card:hover {
    box-shadow: none;
    transform: translateY(7%);
}

.card img {
    width: 26%;
    margin: 10% 37% 0%;
}
.card h3 {
    font-size: 28px;
    padding: 0% 4%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 6%;
    font-family: 'Lato';
}
.card p {
    padding: 6%;
    margin: 0% 6%;
    text-align: center;
    font-family: 'Poppins';
}























/* ========== EXPLANATION CONTAINER =========== */
.explanation-container {
    width: 100%;
    height: 45vh;
    background-color: rgb(33, 59, 202);
    color: white;
    margin-bottom: 8%;
}
.explanation-elements {
    width: 44%;
    padding: 6%;
    margin-left: 42%;
    position: relative;
    bottom: 12%;
}

.explanation-container h2 {
    font-size: 43px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 4%;
    
}
.explanation-container p {
    font-size: 18.5px;
    margin-bottom: 4%;
    font-family: 'Poppins';
    
}
.explanation-container button {
    width: 19%;
    height: 6vh;
    margin-top: 1%;
    padding: 1.5%;
    border: none;
    border-radius: 30px;
    background-color: rgb(170, 249, 255);
    cursor: pointer;
    transition: 0.5s;
}
.explanation-container button:hover {
    transition-duration: 0.5s;
    transform: translateY(4%);
    background-color: rgb(238, 235, 71);
}
.explanation-container a {
    text-decoration: none;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.explanation-container img {
    position: absolute;
    top: 120%;
    width: 44%;
}







































/* =========================== FOOTER =========================== */
.footer-class {
    width: 100%;
    height: 40vh;
    margin-top: 0;
    background-color: rgb(6, 15, 53);
    color: white;
}

.footer-content {
    width: 60%; 
    position: relative;
    top: -6%;
    margin: auto;
    border-top: 1px solid rgb(255, 234, 49);
    border-bottom: 1px solid rgb(255, 234, 49);
    padding: 4% 10%;
}

.athenadosAbout {
    width: 40%;
    margin-left: -12%;
}
.athenadosAbout h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
}
.athenadosAbout p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 1% 0%;
}






.footer-logo img{ 
    width: 12%;
    margin-left: 44%;
}




.links ul {
    position: absolute;
    list-style: none;
    top: 31%;
    left: 38%;
}
.links h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
.links li {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}




.developments ul {
    list-style: none;
    position: absolute;
    left: 53%;
    top: 31%;
}
.developments h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}




.yagopeixinho a, .yuripeixinho a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.yuripeixinho {
    position: absolute;
    left: 20%;
    bottom: 2.8%;
}

.yuripeixinho img, .yagopeixinho img {
    filter: invert(100%);
}


.copyright {
    position: absolute;
    left: 77%;
    bottom: -12%;
    font-weight: 100;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}

