* {
    margin: 0%;
    padding: 0%;
}

body {

}

/* ============================ HEADER ============================ */
/* ======= NAV CLASS1 ======= */
.header-class1 {
    width: 100%;
    height: 7vh;
    background-color: rgb(29, 46, 119);
    display: flex;
    opacity: 90%;
}
.header-class1 nav {
    flex: 1;
    left: 35%;
}
.header-class1 ul {
    list-style: none;
    width: 30%;
}
.header-class1 li {
    display: inline-block;
    margin-left: 4%;
    margin-top: 8.5%;
}
.header-class1 a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 700;
}

.header-class2 {
    width: 100%;
    height: 7vh;
    background-color: rgb(44, 91, 177);
}

.sub-header {
    background-color: lightgreen;
    width: 100%;
    height: 40vh;
    
}

/* ======= NAV CLASS2 ======= */











.sub-header {
    background-color: rgb(134, 202, 202);
}
















.main-class {
    width: 100%;
}



.subjective-container {
    width: 70%;
    height: 150vh;
    background-color: lightcoral;
    margin: 0% auto;
}


.history {
    width: 90%;
    height: 20%;
    background-color: lightgreen;
    position: relative;
    top: 3%;
    left: 5%;
}
.geography {
    width: 90%;
    height: 20%;
    background-color: lightgreen;
    position: relative;
    top: 3%;
    left: 5%;
    margin-top: 5%;
}
.philosophy {
    width: 90%;
    height: 20%;
    background-color: lightgreen;
    position: relative;
    top: 3%;
    left: 5%;
    margin-top: 5%;
}
.sociology {
    width: 90%;
    height: 20%;
    background-color: lightgreen;
    position: relative;
    top: 3%;
    left: 5%;
    margin-top: 5%;
}