* {
    margin: 0%;
    padding: 0%;
}

body {

}


/* =========================== HEADER =========================== */
.header-class {
    width: 100%;
    height: 7vh;
    background-color: rgb(29, 46, 119);
    display: flex;
    position: fixed;
    z-index: 99999;
    opacity: 90%;
}


.header-class img {
    width: 14%;
    margin-left: 12%;
}


/* ====== NAV ====== */
.header-class nav {
    flex: 1;
    position: relative;
    left: 35%;
}
.header-class ul {
    list-style: none;
    width: 30%;
}
.header-class li {
    display: inline-block;
    margin-left: 4%;
    margin-top: 8.5%;
}
.header-class a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 700;
}


/* =============== MAIN ================== */
.main-class {
    width: 100%;
    height: 93vh;
    position: absolute;
    top: 7%;
    display: flex;
}
.humanas {
    width: 50%;
    background-color: lightgreen;
}
.exatas {  
    width: 50%;
    background-color: rgb(113, 213, 238);
}

.naturais {
    width: 50%;
    background-color: lightseagreen;
}
.linguagens {
    width: 50%;
    background-color: lightsteelblue;
}