* {
    margin: 0%;
    padding: 0%;
}

body {

}

/* ============================ HEADER ============================ */
/* ======= NAV CLASS ======= */
.header-class2 {
    width: 100%;
    height: 7vh;
    background-color: rgb(10, 17, 48);
    position: fixed;
}
.header-class2 nav {
    text-align: center;
}
.header-class2 li {
    display: inline-block;
    margin-left: 4%;
    margin-top: 1.2%;
}
.header-class2 a {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: white;
}






/* ============================ SUB HEADER ============================ */
.sub-header {
    background: linear-gradient(90deg, rgba(19,40,73,1) 15%, rgba(2,31,71,1) 56%, rgba(3,2,25,1) 90%);
    width: 100%;
    height: 50vh;
}
.sub-headerAbout {
    width: 34%;
    height: 28vh;
    position: relative;
    left: 20%;
    top: 26%;
}
.sub-headerAbout p {
    padding: 2% 0%;
    font-size: 20px;
    color: white;
}
.sub-headerAbout h1 {
    color: yellow;
    text-transform: uppercase;
}
.sub-headerImage img {
    position: absolute;
    width: 14%;
    left: 66%;
    top: 22%;
}



/* ============================ NAV SUBJECTIVES ============================ */
.nav-subjectives {
    width: 100%;
    height: 8vh;
    background-color: lightblue;
}
.nav-subjectives nav {
    text-align: center;
}
.nav-subjectives li {
    display: inline-block;
    margin-left: 3%;
    margin-top: 1.5%;
}
.nav-subjectives a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}










/* ============================ MAIN-CLASS ============================ */
.main-class {
    width: 100%;
}

.subjective-container {
    width: 70%;
    margin: 0% auto;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}






/* ================= CARDS ================= */
.subject-cards {
    
}
.subject-cards li {
    width: 22%;
    display: inline-block;
    margin-top: 1%;
    margin-left: 2.2%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 10px;
    border-radius: 10px;
}

.liImage {
    flex: 0.5;
}
.liImage img {
    width: 68%;
    margin-top: 32%;
    margin-left: 24%;
}
.h3Title {
    flex: 1;
}
.h3Title h3 {
    color: black;
    margin-left: 22%;
    margin-top: 20%;
    font-size: 20px;

}

.lih3 {
    width: 100%;
    height: 12vh;
    display: flex;
}














/* ============================ HISTORY ============================ */
.history {
    width: 82%;
    padding: 4%;
    margin: 0% auto;
}
.history h1 {
    margin-bottom: 2%;
    margin-left: 2%;
}


/* ============================ GEOGRAPHY ============================ */
.geography {
    width: 82%;
    padding: 4%;
    margin: 0% auto;
}
.geography h1 {
    margin-bottom: 2%;
    margin-left: 2%;
}


/* ============================ PHILOSOPHY ============================ */
.philosophy {
    width: 82%;
    padding: 4%;
    margin: 0% auto;
}
.philosophy h1 {
    margin-bottom: 2%;
    margin-left: 2%;
}

/* ============================ SOCIOLOGY ============================ */
.sociology {
    width: 82%;
    padding: 4%;
    margin: 0% auto;
}
.sociology h1 {
    margin-bottom: 2%;
    margin-left: 2%;
}























/* =========================== FOOTER =========================== */
.footer-class {
    width: 100%;
    height: 40vh;
    background-color: rgb(7, 13, 41);
    color: white;
}

.footer-content {
    width: 60%; 
    position: relative;
    top: 10%;
    margin: auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 4% 10%;
}

.athenadosAbout {
    width: 40%;
    margin-left: -12%;
}
.athenadosAbout h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
}
.athenadosAbout p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 1% 0%;
}






.footer-logo {
    width: 30%;
    position: relative;
    left: 20%;
    top: 6%;
    left: 44%;
}




.links ul {
    position: absolute;
    list-style: none;
    top: 31%;
    left: 38%;
}
.links h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
.links li {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}




.developments ul {
    list-style: none;
    position: absolute;
    left: 53%;
    top: 31%;
}
.developments h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}




.yagopeixinho a, .yuripeixinho a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.yuripeixinho {
    position: absolute;
    left: 20%;
    bottom: 2.8%;
}

.yuripeixinho img, .yagopeixinho img {
    filter: invert(100%);
}


.copyright {
    position: absolute;
    left: 76%;
    bottom: -12%;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}