* {
    margin: 0%;
    padding: 0%;
}

body {

}

/* ============================ HEADER ============================ */
/* ======= NAV CLASS1 ======= */
.header-class1 {
    width: 100%;
    height: 7vh;
    background-color: rgb(29, 46, 119);
}


/* ======= NAV CLASS2 ======= */
.header-class2 {
    width: 100%;
    height: 7vh;
    background-color: rgb(44, 91, 177);
}
.header-class2 nav {
    text-align: center;
}
.header-class2 li {
    display: inline-block;
    margin-left: 4%;
    margin-top: 1.2%;
}
.header-class2 a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: white;
}



















.sub-header {
    background: linear-gradient(90deg, rgba(19,40,73,1) 15%, rgba(2,31,71,1) 56%, rgba(3,2,25,1) 90%);
    width: 100%;
    height: 40vh;
}
.sub-headerAbout {
    width: 40%;
    height: 30vh;
    position: relative;
    left: 20%;
    top: 30%;
}




.nav-subjectives {
    width: 100%;
    height: 8vh;
    background-color: lightblue;
}
.nav-subjectives nav {
    text-align: center;
}
.nav-subjectives li {
    display: inline-block;
    margin-left: 3%;
    margin-top: 1.5%;
}
.nav-subjectives a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}











.main-class {
    width: 100%;
}



.subjective-container {
    width: 70%;
    height: 150vh;
    margin: 0% auto;
    margin-top: 2%;
    margin-bottom: 2%;
}


.history {
    width: 90%;
    height: 20%;
    background-color: lightgreen;
    position: relative;
    top: 3%;
    left: 5%;
}
.geography {
    width: 90%;
    height: 20%;
    background-color: lightgreen;
    position: relative;
    top: 3%;
    left: 5%;
    margin-top: 5%;
}
.philosophy {
    width: 90%;
    height: 20%;
    background-color: lightgreen;
    position: relative;
    top: 3%;
    left: 5%;
    margin-top: 5%;
}
.sociology {
    width: 90%;
    height: 20%;
    background-color: lightgreen;
    position: relative;
    top: 3%;
    left: 5%;
    margin-top: 5%;
}