* {
  padding: 0%;
  margin: 0%;
}
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  .header-class {
    width: 100%;
    height: 5vh;
    background-color: rgb(16, 55, 107);
    display: flex;
    position: fixed;
    z-index: 99999;
}


.header-class h1 {
    flex: 1;
    margin-top: 0.2%;
    margin-left: 12%;
    color: white;
    font-family: 'Poppins';
    font-weight: 200;
}


/* ====== NAV ====== */
.header-class nav {
    flex: 2;
}
.header-class ul {
    list-style: none;
    margin-left: 35%;
    margin-top: 0%;
}
.header-class li {
    display: inline-block;
    margin-left: 3%;
    margin-top: 2.2%;
}
.header-class a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 14px;
}


















/* ======================== QUESTIONS CONTAINER ========================= */
   .container {
    width: 66%;
    height: 60vh;
    background-color: lightblue;
    position: absolute;
    top: 18%;
    left: 17%;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: max-content;
    gap: 14px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  
  
  
  
