* {
  padding: 0%;
  margin: 0%;
}
body {

}

  
/* =========================== HEADER =========================== */
.header-class {
  width: 100%;
  height: 7vh;
  background-color: rgb(29, 46, 119);
  opacity: 90%;
}

/* ====== LOGO  ====== */
.logo-class {
  width: 64%;
  position: absolute;
  bottom: 89%;
   
  
}
/* ====== NAV ====== */
.header-class nav {
  width: 13%;
  position: relative;
  display: inline-block;
  left: 84%;
  top: 34%;
}
.header-class ul {
  list-style: none;
}
.header-class li {
  display: inline-block;
  margin-left: 1.8%;
}
.header-class a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}
.header-class a:hover {
  color: rgb(244, 222, 96);
}

















/* ======================== QUESTIONS CONTAINER ========================= */
:root {
  --hue-neutral: 21;
  --hue-wrong: 0;
  --hue-correct: 147;
}


  .container {
     width: 80%;
     height: 75vh;
     padding: 2.5%;
     margin: 2% auto;
  }

  #question {
    width: 100%;
    font-size: 18px;
    font-family: 'Arial', Times, serif;
    text-align: justify;
    margin-bottom: 2%;
  }

  #resolution {
    width: 80%;
    position: absolute;
    top: 60%;
    left: 10%;
    height: 24vh;
    visibility: hidden;
    text-align: justify;
    font-size: 18px;
    font-family: 'Arial', Times, serif;
  }


  .btn-grid {
    display: grid;
    grid-template-columns: max-content;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 0%, 96%);
    border: 0.1px solid rgba(218, 218, 218, 0.514);
    margin-top: 2.8%;
    font-size: 15px;
    cursor: pointer;
    padding: 5.6px 30px;
    border-radius: 8px;
  }
  .btn:hover {
    background-color: rgba(29, 46, 119, 0.473);
    transition-duration: 0;
  }








  
  button.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
  }











  






  .btn.correct {
    background-color: hsl(var(--hue-correct), 50%, 47%);
    color: black;
    transition: 1s;
  }
  
  .btn.wrong {
    background-color: hsl(var(--hue-wrong), 60%, 50%);
    transition: 1s;
  }
  






  
  
  .start-btn {
    width: 20%;
    position: absolute;
    left: 40%;
    top: 30%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    z-index: 9999;
  }

  .next-btn {
    width: 20%;
    position: absolute;
    left: 40%;
    top: 79%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    z-index: 10000;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }


  
  
  
  
  
