* {
    margin: 0%;
    padding: 0%;
}

/* ============================ HEADER ============================ */
/* ======= NAV CLASS ======= */
.header-class2 {
    width: 100%;
    background-color: rgb(29, 46, 119);
    z-index: 9999;
    padding: 20px 0;
    position: fixed;
    z-index: 9999;
}
.header-class2 nav {
    text-align: center;
}

.header-class2 li {
    display: inline-block;
    margin-left: 4%;
}
.header-class2 a {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: 'Raleway';
    word-spacing: 2px;
}
.header-class2 a:hover {
    color: rgb(244, 222, 96);
}
#matematicaHover:hover {
    color: rgb(224, 93, 93);
}
#naturezaHover:hover {
    color: rgb(114, 170, 114);
}
#linguagensHover:hover {
    color: rgb(223, 111, 223);
}
#humanasHover:hover {
    color: rgb(244, 222, 96);
}




















/* ============================ NAV SUBJECTIVES ============================ */
.nav-subjectives {
    width: 100%;
    background: radial-gradient(circle, rgba(236,209,107,1) 14%, rgba(218,201,114,1) 52%, rgba(247,233,137,1) 90%);
    padding: 13.5px 0;
    margin-top: 58px;
    position: fixed;
    z-index: 99999;
}
.nav-subjectives nav {
    text-align: center;
}
.nav-subjectives li {
    display: inline-block;
    margin-left: 3%;
    transition-duration: 0.5s;
}
.nav-subjectives li:hover {
    transform: translateY(9%);
    transition-duration: 0.5s;
}

.nav-subjectives a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lato';
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition-duration: 0.2s;
}
.nav-subjectives a:hover {
    color: rgb(0, 0, 0);
    transition-duration: 0.2s;
}

























/* ============================ SUB HEADER ============================ */
.sub-header {
    background: linear-gradient(90deg, rgb(9, 35, 99) 19%, rgb(35, 51, 126) 52%, rgb(24, 46, 102) 90%);
    width: 100%;
    display: flex;
    align-content: flex-end;
}

.sub-headerAbout {
    width: 34%;
    flex: 1;
    padding: 12% 5% 7.5% 22.5%;
    animation-name: subHeader;
    animation-duration: 2s;
}

.sub-headerAbout h1 {
    font-size: 36px;
    color: rgb(244, 222, 96);
    text-transform: uppercase;
    font-family: 'Raleway';
    display: inline-block;
    margin-bottom: 3%;
}
.sub-headerAbout p {
    width: 92%;
    padding: 2% 0%;
    font-size: 16px;
    color: white;
    font-family: 'Poppins';
}

.sub-headerImage {
    display: inline-block;
    flex: 1;
}
.sub-headerImage img {
    width: 300px;
    filter: invert(100%);
    flex: 1;
    margin-top: 26%;
    margin-left: 2%;
    
}



























/* ============================ MAIN-CLASS ============================ */
.main-class {
    width: 100%;
}

.subjective-container {
    width: 70%;
    margin: 3.5% auto;
    padding: 5px 0;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}



/* ========== CARDS ========== */
.subject-cards li {
    width: 230px;
    list-style: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.164) 0px 10px 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.subject-cards li:hover {
    transform: scale(0.9);
    transition-duration: 1.5s;
    box-shadow: none;
}


.lih3 {
    display: flex;
    padding: 8px;
}


.liImage {
    width: 25%;
    padding: 10px;
}
.liImage img {
    width: 100%;
}


.h3Title {
   padding-top: 3%;
   padding-left: 10%;
}

.h3Title h3 {
    color: rgb(0, 0, 0);
    font-family: 'Lato';
    font-size: 16px;
}
.subject-cards a {
    text-decoration: none;
}





/* ============================ SUBJECTIVES ============================ */
.history, .geography, .philosophy, .sociology  {
    width: 82%;
    margin: 5% auto;
}
.history h1, .geography h1, .philosophy h1, .sociology h1 {
    margin-bottom: 3%;
    font-family: 'Raleway';
    letter-spacing: 2px;
    text-transform: uppercase;
}


























/* =========================== FOOTER =========================== */
.footer-class {
    background: linear-gradient(90deg, rgb(4, 18, 53) 19%, rgb(6, 15, 61) 52%, rgb(7, 18, 44) 100%);
    color: white;
    padding-bottom: 5% ;
}



.footer-logo {
    text-align: center;
}
.footer-logo img {
    width: 14%;
}





/* ======== FOOTER CONTENT ======== */
.footer-content {
    width: 70%;
    margin: 0% auto;
    border-top: 1px solid rgb(112, 112, 112);
    border-bottom: 1px solid rgb(112, 112, 112);
    display: flex;
    padding: 3.5%;
}

.athenadosAbout {
    flex: 1.2;
    padding: 0 2%;
}

.athenadosAbout h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
}

.athenadosAbout p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 1% 0%;
}

/* ======== ABOUT ======== */
.links {
    flex: 1;
    padding: 0 2%;
    margin-left: 5.5%;
}
.links ul {
    list-style: none;
}
.links h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
.links li {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.links a {
    color: white;
}


/* ======== DESENVOLVEDORES ======== */
.developments {
    flex: 0.5;
    padding: 0 2%;
    list-style: none;
}
.developments h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.developments ul {
    list-style: none;
}


.yuripeixinho {
    margin-top: 12%;
}

.yagopeixinho a, .yuripeixinho a {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.yuripeixinho img, .yagopeixinho img {
    filter: invert(100%);
}



/* ======== DIREITOS AUTORAIS ======== */
.copyright {
    text-align: center;
    margin-top: 1.5%;
    font-weight: 200;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}






