* {
  padding: 0%;
  margin: 0%;
}
body {
  /* background: radial-gradient(circle, rgba(255,255,255,1) 5%, rgba(223,223,223,1) 20%, rgba(224,224,224,1) 41%, rgba(229,219,219,1) 62%, rgba(229,229,229,1) 100%); */
}

  
/* =========================== HEADER =========================== */
.header-class {
  width: 100%;
  background-color: rgb(29, 46, 119);
  display: flex;
}


/* ========== LOGO ========== */
.logo {
  background: url(../../../_image/logoAthenas.png) left /130px no-repeat;
  flex: 3;
}
.logo h1 {
  padding: 2.5% 3%;
  display: inline-block;
  opacity: 0%;
}



/* ========== NAV ========== */
.header-class nav {
  flex: 5;
  text-align: end;
  padding: 1.2% 2.5%;
}
.header-class ul {
  list-style: none;
}

.header-class li {
  display: inline-block;
  padding-left: 2.5%;
}

.header-class a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}
.header-class a:hover {
  color: rgb(244, 222, 96);
}
















/* ======================== QUESTIONS CONTAINER ========================= */
:root {
  --hue-neutral: 21;
  --hue-wrong: 0;
  --hue-correct: 147;
}


  .container {
    width: 80%;
    padding: 2.5%;
    margin: 5% auto;
    background-color: rgb(248, 247, 247);
    border-radius: 5px;
    border: 1.5px solid rgb(233, 233, 233);
  }

  #question {
    width: 100%;
    font-size: 18px;
    font-family: 'Arial', Times, serif;
    text-align: justify;
    margin-bottom: 2%;
  }
 

/* ======================== RESOLUTION CONTAINER ========================= */
  #resolution {
    width: 96%;
    padding: 2%;
    border-radius: 4px;
    display: none;
    font-size: 18px;
    margin-top: 2%;
    font-family: 'Arial', Times, serif;
    border: 1px solid rgba(255, 255, 255, 0);
    text-align: justify;
    background: linear-gradient(90deg, rgb(21, 50, 126) 19%, rgb(35, 51, 126) 52%, rgb(24, 46, 102) 90%);
    color: white;
  }

  .next-btn {
    width: 10%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    z-index: 10000;
    transition: 0.3s;
    box-shadow: 0px 8px rgb(192, 192, 192);
  }
  .next-btn:hover {
    transform: scale(0.9);
    transition: 0.3s;
    box-shadow: none;
  }



/* ======== TODOS OS BOTÕES ======== */
.btn {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 0%, 96%);
  border: 0.1px solid rgba(196, 194, 194, 0.74);
  margin-top: 2.8%;
  font-size: 15px;
  cursor: pointer;
  padding: 5.6px 30px;
  border-radius: 8px;
}
.btn:hover {
  background-color: rgb(240, 240, 240);
  
}

.btn-grid {
  display: grid;
  grid-template-columns: max-content;
}
  
  
  







  
  button.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
  }







  






  .btn.correct {
    background-color: hsl(var(--hue-correct), 50%, 47%);
    color: black;
    transition: 1s;
  }
  
  .btn.wrong {
    background-color: hsl(var(--hue-wrong), 60%, 50%);
    transition: 1s;
  }
  






  
  
  .start-btn {
    width: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    z-index: 9999;
    transition: 0.3s;
    box-shadow: 0px 8px rgb(192, 192, 192);
  }
  .start-btn:hover {
    transform: scale(0.9);
    transition: 0.3s;
    box-shadow: none;
  }

  

  



  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }




















/* =========================== RESPONSIVIDADE =========================== */


/*============= MOBILE SMALL =============*/
  @media (min-width: 320px) and (max-width: 375px) {
    body {
      background-color: rgb(255, 0, 0);
    }


    /* ===== HEADER CLASS ===== */
    .logo {
      display: none;
    }
    
    .header-class ul {
      text-align: center;
      margin-left: 4%;
    }
    .header-class a {
      font-size: 11px;
    }


    /* ====== CONTAINER INICIAL ======== */
    .start-btn {
      width: 100px;
      margin-bottom: 3%;
    }

    button.btn {
      font-size: 14px;
    }
  
    /* ====== GRID DE ALTERNATIVAS =======*/
    .container {
      width: 90%;
    }
    #question {
      width: 88%;
      font-size: 13.5px;
      margin-bottom: 2%;
      padding: 6%;
    }

    .btn-grid {
      display: grid;
      grid-template-columns: 98%;
    }
 
    .next-btn {
      width: 100px;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 10px 20px;
      z-index: 10000;
      transition: 0.3s;
      box-shadow: 0px 8px rgb(192, 192, 192);
      margin-bottom: 3%;
    }
    button.btn {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
    }


    /* ======= RESOLUTION CONTAINER ======= */
    #resolution {
      width: 90.5%;
      padding: 14px;
      border-radius: 4px;
      font-size: 13.5px;
      margin-top: 2%;
      font-family: 'Arial', Times, serif;
      border: 1px solid rgba(255, 255, 255, 0);
      text-align: justify;
      background: linear-gradient(90deg, rgb(21, 50, 126) 19%, rgb(35, 51, 126) 52%, rgb(24, 46, 102) 90%);
      color: white;
    }
}




















/* MOBILE MEDIUM */
@media (min-width: 375px) and (max-width: 425px) {
    body {
      background-color: lightseagreen;
    }

    /* ===== HEADER CLASS ===== */
    .logo {
      display: none;
    }
    
    .header-class ul {
      text-align: center;
      margin-left: 4%;
    }
    .header-class a {
      font-size: 12px;
    }


    /* ====== CONTAINER INICIAL ======== */
    .start-btn {
      width: 100px;
      margin-bottom: 3%;
    }

    button.btn {
      font-size: 15px;
    }
  
    /* ====== GRID DE ALTERNATIVAS =======*/
    .container {
      width: 90%;
    }
    #question {
      width: 88%;
      font-size: 14px;
      margin-bottom: 2%;
      padding: 6%;
    }

    .btn-grid {
      display: grid;
      grid-template-columns: 98%;
    }
 
    .next-btn {
      width: 100px;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 10px 20px;
      z-index: 10000;
      transition: 0.3s;
      box-shadow: 0px 8px rgb(192, 192, 192);
      margin-bottom: 3%;
    }
    button.btn {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
    }


    /* ======= RESOLUTION CONTAINER ======= */
    #resolution {
      width: 90.5%;
      padding: 14px;
      border-radius: 4px;
      font-size: 14px;
      margin-top: 2%;
      font-family: 'Arial', Times, serif;
      border: 1px solid rgba(255, 255, 255, 0);
      text-align: justify;
      background: linear-gradient(90deg, rgb(21, 50, 126) 19%, rgb(35, 51, 126) 52%, rgb(24, 46, 102) 90%);
      color: white;
    }
}

    


























/* MOBILE LARGE */
@media (min-width: 425px) and (max-width: 768px) {
    body {
      background-color: green
    }
    
}















/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
      background-color: yellow;
    }

    
}






/* =========================== LAPTOP =========================== */
/* LAPTOP */
@media (min-width: 1024px) and (max-width: 1440px) {
    body {
      background-color: lightseagreen;
    }

    
}


































  








  
  
